<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8" />
    <link rel="stylesheet" href="design.css">
    <link rel="icon" type="image/png" href="logo.png">
    <title>Dashboard</title>
</head>
<body>
    <div class="container2">
        <header class="header">
            <img src="logo.png" alt="Logo" height="100px">
            <h2>DASHBOARD</h2>
            <% if (user) { %>
                <div class="user-info1">
                    <div class="user-details">
                        <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                        <div class="user-names">
                            <span class="user-label"><%= user.email %> <%= user.first_name %> <%= user.last_name %></span>
            <% } %>
        </div>
        </header>
        
        <div class="sidenav" id="sidenav">
            <a href="/dashboard">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                <span class="sidenav-label">Dashboard</span>
            </a>
            <a href="/img_process">
                <i class="fa fa-gear" aria-hidden="true"></i>
                <span class="sidenav-label">Image Processing</span>
            </a>
            <a href="/database">
                <i class="fa-solid fa-square-check" aria-hidden="true"></i>
                <span class="sidenav-label">Result Review</span>
            </a>
            <a href="/reject">
                <i class="fa fa-ban" aria-hidden="true"></i>
                <span class="sidenav-label">Rejected Images</span>
            </a>
            <a href="/manage">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span class="sidenav-label">Products Maintenance</span>
            </a>
            <a href="/outlet">
                <i class="fa fa-store"></i>
                <span class="sidenav-label">Outlet Listing</span>
            </a>
            <a href="/login/logout">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                <span class="sidenav-label">Logout</span>
            </a>
        </div>


        <div class="content" id="content">
            <form action="/login/dashboard" method="get">
                <div class="dashboard">
                    <iframe id="dashboard-iframe" src="http://47.250.10.195:3000/d/c1406c27-e6cf-4995-9cf5-10ebe0975773/dashboard1?orgId=1&from=1698176084112&to=1698197684112&theme=light&kiosk=tv&transparent=1"></iframe>

                </div>
            </form>
        </div>
    </div>

    <div id="logoutConfirmation" class="logoutpopup">
        <p>Are you sure you want to logout?</p>
        <button id="confirmLogout">Yes</button>
        <button id="cancelLogout">No</button>
    </div>

</body>
<script src="script/sidenav.js"></script>
<script src="script/backbt.js"></script>
<script src="script/logout.js"></script>
</html>