<!DOCTYPE ejs>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="design.css">
    <link rel="icon" type="image/png" href="logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Process</title>

</head>
<body>
    <div class="container3">
        <header class="header">
            <img src="logo.png" alt="Logo" height="100px">
            <h2>PROCESS</h2>
        </header>

        <div class="sidenav" id="sidenav">
            <a href="/dashboard">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                <span class="sidenav-label">Dashboard</span>
            </a>
            <a href="/img_process">
                <i class="fa fa-cogs" aria-hidden="true"></i>
                <span class="sidenav-label">Process</span>
            </a>
            <a href="/database">
                <i class="fa fa-database" aria-hidden="true"></i>
                <span class="sidenav-label">Database</span>
            </a>
            </a>
            <a href="/login/logout">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                <span class="sidenav-label">Logout</span>
            </a>
        </div>
        </div>
        <div class="table-container3" id="table-container3">
        <div class="reg-container">
            <button type="submit" class="css-button">
                <a href="#" class="delete-record" style="text-decoration: none; color: white;">
                <span class="css-button-text">
                    <span>Process</span>
                </span>
                <span class="=css-button-icon">
                    <i class="fa fa-refresh"></i>
                </span>
                </a>
            </button>
            </div><br><br>
            <table id="region" class="table" style="width:85%">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Share of Voice</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach((record, index) => { %>
                    <tr data-id="<%= record.id %>">
                        <td></td>
                        <td><%= record.sov %></td>
                        <td><%= record.date %></td>
                        <td><i class="fa fa-times" style="color: red;" aria-hidden="true"></i></a></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    <div id="logoutConfirmation" class="logoutpopup">
        <p>Are you sure you want to logout?</p>
        <button id="confirmLogout">Yes</button>
        <button id="cancelLogout">No</button>
    </div>
</body>
<script src="script/sidenav.js"></script>
<script src="script/backbt.js"></script>
<script src="script/imgfx.js"></script>
<script src="script/logout.js"></script>
</html>