<!DOCTYPE ejs>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="design.css">
    <link rel="icon" type="image/png" href="logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Login</title>

    <style>
        body {background-image: url("background_new (1).png")}
    </style>
    
</head>
<body>
    <img src="logo1.png" alt="Logo" height="100px"><br/><br><br><br><br><br><br><br><br>    
    <h1>LOGIN</h1><br><br>
    <h3>Welcome back! Login to have access to the AMAST Image Processing System.</h3><br><br>

    <form action="/login" method="post">  
        <div class="reg-container">   
            <div class="email-input-container">
            <input type="text" class="form-control" id="email" name="email" placeholder="Email" required><br> 
            </div>
             <br>
            <div class="password-input-container">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                <span class="password-toggle" id="password-toggle" onclick="togglePasswordVisibility()">
                    <i class="fa fa-eye" id="eye-icon"></i>
                </span>
            </div>
            <br><br>
            <button type="submit" class="css-button">
                <span class="css-button-text">
                    <span>LOGIN</span>
                </span>
            </button>

            <p>Don't have an account? Register <a href="/register">here</a></p> 
        </div>
    </form>

    <div id="not-reg-popup" class="popup" style="display: none;">
        <p>The email is not registered.<br>Please try again.<br></p>
    </div>

    <div id="fail-popup" class="popup" style="display: none;">
        <p>Your email or password is incorrect!<br>Please try again.<br></p>
    </div>
    
    <script src="script/loginpop.js"></script> 
    <script src="script/backbt.js"></script>   
    <script src="script/pwshide.js"></script>
</body>
</html>