<!DOCTYPE ejs>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="design.css">
    <link rel="icon" type="image/png" href="logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Login</title>

    <style>
        body {background-image: url("background_1.png")}
    </style>
    
</head>
<body>
    <img src="logo.png" height="105px"><br/><br><br>
    <h1>LOGIN</h1><br><br>
    <h3 style="font-weight: normal;">Welcome back! Login to have access to the AMAST Image Processing System.</h3><br><br>

    <form action="/login" method="post">  
        <div class="reg-container">    
    		<input type="text" class="form-control" id="email" name="email" placeholder="Email" required><br> 
  		     
    		<input type="password" class="form-control" id="password" name="password" placeholder="Password" required><br><br>
         
        <button type="submit" class="css-button">
            <span class="css-button-text">
                <span>LOGIN</span>
            </span>
        </button>

        <p>Don't have an account? Register <a href="/register">here</a></p> 

        </div>

        <div id="overlay" class="overlay" style="display: none;"></div>
    </form>

    <div id="not-reg-popup" class="popup" style="display: none;">
        <h3>Login Failed!</h3><p>The email is not registered.<br>Please try again.<br><br><a href='/'>Ok</a></p>
    </div>

    <div id="fail-popup" class="popup" style="display: none;">
        <h3>Login Failed!</h3><p>Your email or password is incorrect!<br>Please try again.<br><br><a href='/'>Ok</a></p>
    </div>
    
    <script>
        // Function to show the success popup and overlay
        function showNotRegPopup() {
            const notregPopup = document.getElementById('not-reg-popup');
            notregPopup.style.display = 'block';

            const overlay = document.getElementById('overlay');
            overlay.style.display = 'block';
        }

        function showFailPopup() {
            const failPopup = document.getElementById('fail-popup');
            failPopup.style.display = 'block';

            const overlay = document.getElementById('overlay');
            overlay.style.display = 'block';
        }
    
        const urlParam = new URLSearchParams(window.location.search);
        if (urlParam.has('notreg') && urlParam.get('notreg') == 'true') {
            showNotRegPopup();
        }
    
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('fail') && urlParams.get('fail') == 'true') {
            showFailPopup();
        }
    </script>
    <script>
        // Disable the back button
        history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.pushState(null, null, location.href); // Revert the URL to the current page
        };
    </script>    
    
    </body>
</html>

