<!DOCTYPE ejs>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="design.css">
    <link rel="icon" type="image/png" href="logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Manage</title>
</head>
<body>
    <div class="container2">
        <header class="header">
            <img src="logo.png" alt="Logo" height="100px">
            <h2>MANAGE PRODUCTS</h2>
        </header>

        <div class="sidenav" id="sidenav">
            <a href="/dashboard">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                <span class="sidenav-label">Dashboard</span>
            </a>
            <a href="/img_process">
                <i class="fa fa-cogs" aria-hidden="true"></i>
                <span class="sidenav-label">Process</span>
            </a>
            <a href="/database">
                <i class="fa fa-database" aria-hidden="true"></i>
                <span class="sidenav-label">Database</span>
            </a>
            <a href="/manage">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span class="sidenav-label">Products</span>
            </a>
            <a href="/outlet">
                <i class="fa fa-home" aria-hidden="true"></i>
                <span class="sidenav-label">Outlet</span>
            </a>
            <a href="/login/logout">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                <span class="sidenav-label">Logout</span>
            </a>
        </div>

    </div>

    <div class="manage-container">
        <div class="brand-container">
            <div class="section-title">ADD BRAND</div>
            <form action="/manage/addBrand" method="post">  
                <div class="input-container">                  
                    <input type="text" class="input-control" id="brand_name" name="brand_name" placeholder="Brand Name" required>
                    <br>
                    <button type="submit" class="css-add"> 
                        <span class="css-button-text">
                            <span>ADD BRAND<span>
                        </span>
                    </button>
                </div>
            </form>
        </div>

        <div class="product-container">
            <div class="section-title">ADD PRODUCT</div>
            <form action="/manage/addProduct" method="post">  
                <div class="input-container">
                    <select id="brand" name="brand">
                        <option value="" selected disabled>Select brand</option>
                        <% brandData.forEach(brand => { %>
                            <option value="<%= brand.id %>">
                                <%= brand.brand_name %>
                            </option>
                        <% }); %>
                    </select> 
                    <br>                
                    <input type="text" class="input-control" id="product_name" name="product_name" placeholder="Product Name" required>
                    <br>
                    <button type="submit" class="css-add">
                        <span class="css-button-text">
                            <span>ADD PRODUCT</span>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div id="logoutConfirmation" class="logoutpopup">
        <p>Are you sure you want to logout?</p>
        <button id="confirmLogout">Yes</button>
        <button id="cancelLogout">No</button>
    </div>
    <div id="brand-popup" class="popup" style="display: none;">
        <p>Brand successfully added!</p>
    </div>
    <div id="product-popup" class="popup" style="display: none;">
        <p>Product successfully added!</p>
    </div>
    </body>
    <script src="script/sidenav.js"></script>
    <script src="script/manageProd.js"></script>
    <script src="script/addpop.js"></script>
    <script src="script/backbt.js"></script>
    <script src="script/logout.js"></script>

</body>
</html>