<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="design.css">
    <link rel="icon" type="image/png" href="logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Register</title>

    <style>
        body {background-image: url("background_2.png")}
    </style>

</head>
<body>
  <img src="logo.png" height="105px"><br/><br>
  <h1>REGISTER</h1><br><br>

  <form action="/register/form" method="post">  
        <div class="reg-container">    
            <input type="text" class="reg-control" id="first_name" name="first_name" placeholder="First Name" required>      
            <input type="text" class="reg-control" id="last_name" name="last_name" placeholder="Last Name" required>
            <input type="text" class="reg-control" id="age" name="age" placeholder="Age" required>      
            <input type="text" class="reg-control" id="address" name="address" placeholder="Address" required>
            <input type="text" class="reg-control" id="email" name="email" placeholder="Email" required>      
            <input type="password" class="reg-control" id="password" name="password" placeholder="Password" required><br><br><br>

        <button type="submit" class="css-button"> 
            <span class="css-button-text">
                <span>REGISTER<span>
            </span>
        </button>

        <p class="log">Already have an account? Login <a href="/">here</a></p>

        </div>

        <div id="overlay" class="overlay" style="display: none;"></div>
    </form>

    <!-- HTML code after the success pop-up -->
    <div id="error-popup" class="popup" style="display: none;">
        <p>Email already in use</p>
    </div>
    
    <div id="success-popup" class="popup" style="display: none;">
        <p>Registration successful!<br><br><a href='/'>Login</a></p>
    </div>
    <script>
  // Function to show a pop-up and overlay
  function showPopup(popupId) {
    const popup = document.getElementById(popupId);
    popup.style.display = 'block';

    const overlay = document.getElementById('overlay');
    overlay.style.display = 'block';

    // Automatically close the pop-up after 3 seconds (adjust the delay as needed)
    setTimeout(function() {
      popup.style.display = 'none';
      overlay.style.display = 'none';
    }, 3000); // 3000 milliseconds (3 seconds)
  }

  // Check for a message in the URL
  const urlParams = new URLSearchParams(window.location.search);

  if (urlParams.has('success') && urlParams.get('success') === 'true') {
    // Redirect to the login page with a success message
    window.location.href = '/login?success=true';
  } else if (urlParams.has('error') && urlParams.get('error') === 'email-in-use') {
    showPopup('error-popup');
  }
      </script>
      

</body>
</html>