@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Inclusive+Sans&family=Roboto:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css?family=Montserrat:700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

*, *::after                                             {box-sizing: border-box;}
body                                                    {font: 'Muli', sans-serif;
                                                        padding: 1%;
                                                        background-size: cover;
                                                        background-image: url("background_content.jpg");
                                                        background-repeat: no-repeat;
                                                        background-attachment: fixed;}
h1                                                      {text-align: center;
                                                        font-size: 2.9rem;
                                                        font-family: 'Gill Sans MT', sans-serif;}
h2 {                                                    font-size: 250%;    
                                                        text-align: center;
                                                        margin-right: 0%;
                                                        margin-left: 0%;
                                                        padding-top: 0%;    
                                                        font-family: 'Gill Sans MT', sans-serif;}
h3                                                      {text-align: center;
                                                        text-decoration: none;
                                                        font-family: 'OpenSans', sans-serif;
                                                        font-weight: 500;}
h4                                                      {text-align: center;
                                                        text-decoration: none;
                                                        text-align: right;
                                                        color: white;}
h1, .h1, h3, .h3, h4, .h4                               {margin-top: 0;
                                                        margin-bottom: 0;}
p                                                       {text-align: center;
                                                        font-family: 'Montserrat-Bold', sans-serif;}
button                                                  {background-color: #283791;
                                                        color: #fff;
                                                        width: 15%;
                                                        padding: 0.9% 1%;
                                                        border: none;
                                                        border-radius: 25px;
                                                        font-size: 120%;
                                                        cursor: pointer;
                                                        position: relative;}
button.css-add                                          {background-color: #283791;
                                                        color: #fff;
                                                        width: 33%;
                                                        padding: 2.6% 1%;
                                                        border: none;
                                                        border-radius: 25px;
                                                        font-weight: bold;
                                                        font-size: 120%;
                                                        cursor: pointer;
                                                        position: inherit;}
button.css-img                                          {background-color: #283791;
                                                        color: #fff;
                                                        width: 13%;
                                                        padding: 1% 1%;
                                                        border: none;
                                                        border-radius: 25px;
                                                        font-weight: bold;
                                                        font-size: 120%;
                                                        margin-left: 18%;
                                                        cursor: pointer;
                                                        position: inherit;}
button.css-outlet                                       {background-color: #283791;
                                                        color: #fff;
                                                        width: 83.5%;
                                                        padding: 6.5% 1%;
                                                        border: none;
                                                        border-radius: 25px;
                                                        font-weight: bold;
                                                        font-size: 120%;
                                                        cursor: pointer;
                                                        position: inherit;}
button:hover                                            {background-color: #283791;}
.sidenav                                                {height: 100%;
                                                        width: 5.5%; 
                                                        position: fixed;
                                                        top: 0.7%;
                                                        left: 0;
                                                        padding-top: 1%;
                                                        margin-top: 7.2%;
                                                        background-color: #283791;
                                                        z-index: 1;
                                                        transition: width 0.3s;
                                                        overflow-y: auto;
                                                        align-items: center;}
.sidenav.expanded                                       {width: 210px;}
.sidenav a                                              {padding: 15px;
                                                        margin-left: 10%;
                                                        margin-right: 10%;
                                                        color: #FCCB06;
                                                        text-decoration: none;
                                                        display: flex;
                                                        align-items: center;
                                                        transition: background-color 0.3s, color 0.3s;}
.sidenav a i                                            {font-size: 215%; 
                                                        margin-right: 10px;}
.sidenav-label                                          {display: none;
                                                        font-family: 'OpenSans', sans-serif;
                                                        font-weight: bold;}
.sidenav.expanded .sidenav-label                        {display: inline-block;
                                                        text-align: left;}
.sidenav.expanded a                                     {transition: background-color 0,6s, color 0.6s;}
.content                                                {flex: 1;
                                                        width: 91%;
                                                        margin-left: 4.5%;
                                                        margin-top: -0.5%;
                                                        transition: margin-left 0.235s;}
.sidenav.expanded + .content                            {margin-left: 9.4%;
                                                        margin-right: 0%;}
.header                                                 {position: fixed;
                                                        width: 100%;
                                                        height: 16%;
                                                        z-index: 3;
                                                        padding-right: 1%;
                                                        padding-left: 1%;
                                                        top: 0;
                                                        left: 0;
                                                        background: #FCCB06;
                                                        display: flex;
                                                        align-items: center;
                                                        justify-content: space-between;}
.container2                                             {margin-top: 6.8%;
                                                        margin-left: 0%;
                                                        position: relative;
                                                        width: 100%;
                                                        display: flex;}
.container1                                             {margin-left: 5%;
                                                        position: relative;
                                                        width: 100%;
                                                        display: flex;}
.container                                              {margin-top: 9%;
                                                        margin-left: 5%;
                                                        position: relative;
                                                        width: 100%;
                                                        display: flex;}
.table-container2                                       {margin-top: 9%;
                                                        margin-right: 3%;
                                                        margin-left: 2%;
                                                        transition: margin-left 0.3s;}
.container3                                             {margin-top: 8%;
                                                        position: flex;
                                                        width: fit-content;}
.table-container3                                       {margin-top: 8%;
                                                        margin-left: -9%;
                                                        margin-right: 3%;
                                                        transition: margin-left 0.3s;}
.icon-container2 i                                      {font-size: 40px;
                                                        color: #ffffff;}
.table-container                                        {margin-top: 10%;}
.reg-control                                            {border: 1px solid #ccc;
                                                        background-color: #ffffff;
                                                        padding: 0.7%;
                                                        margin: 0.3%;
                                                        width:30%;
                                                        box-sizing: border-box;
                                                        position: relative;
                                                        text-align: center;}    
.reg-container                                          {display: flex;
                                                        flex-direction: column;
                                                        align-items: center;}
.reg-container-img                                      {display: flex;
                                                        flex-direction: column;
                                                        align-items: center;}
.password-container                                     {width: 99.85%;
                                                        align-items: center;
                                                        margin-left: 69.4%;}
.overlay                                                {position: fixed;   
                                                        top: 0;
                                                        left: 0;
                                                        width: 100%;
                                                        height: 100%;
                                                        background: rgba(0, 0, 0, 0.5); 
                                                        z-index: 999;}
.popup                                                  {position: fixed;
                                                        top: 50%;
                                                        left: 50%;
                                                        transform: translate(-50%, -50%);
                                                        background: #fff;
                                                        padding: 20px;
                                                        border: 1px solid #ccc;
                                                        border-radius: 15px;
                                                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                                                        z-index: 1000;}
.popup a                                                {display: inline-block;
                                                        padding: 10px 20px;
                                                        background: #007BFF;
                                                        color: #fff;
                                                        text-decoration: none;
                                                        border-radius: 20px;
                                                        transition: background 0.3s ease;}
.popup a:hover                                          {background: #0056b3;}
.sidenav a:hover                                        {background-color: #FCCB06;
                                                        color: #2667ff;}        
.table                                                  {transition: margin 0.3s;
                                                        border-collapse: collapse;
                                                        width: 95%;
                                                        margin: 1% 1% 1% auto;}
.table-product                                          {transition: margin 0.3s;
                                                        border-collapse: collapse;
                                                        width: 90%;
                                                        margin: -4% 1% 1% auto;}
.table-dashboard                                        {transition: margin 0.3s;
                                                        border-collapse: collapse;
                                                        width: 90%;
                                                        margin: 0% 1% 0% auto;}
.table-outlet                                           {vertical-align: middle;
                                                        transition: margin-left 0.3s;
                                                        text-align: center;
                                                        margin-left: 7%;
                                                        margin-top: 1%;
                                                        border-collapse: collapse;}
.table-outlet > :not(caption) > * > *                   {padding: 0.5% 0.5%;
                                                        box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);}
.table-product > :not(caption) > * > *                  {padding: 0.5% 0.5%;
                                                        box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);}
.table > :not(caption) > * > *                          {padding: 0.5rem 0.5rem;
                                                        box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);}
th                                                      {background-color: #283791;
                                                        font-family: 'Gill Sans MT', sans-serif;
                                                        text-align: inherit;
                                                        height: 50px;
                                                        font-size: 120%;
                                                        color: white;
                                                        border-bottom: 2px solid #dee2e6;}                                                        
tr:nth-child(even)                                      {font-family: 'Roboto', sans-serif;
                                                        background-color: #f8f4e3;}
tr:nth-child(odd)                                       {font-family: 'Roboto', sans-serif;
                                                        background-color: #e1eef9;}
td, th                                                  {border: 1px solid #283791; 
                                                        text-align: center; }
.delete-outlet-btn                                      {cursor: pointer;
                                                        color: #dc3545;}
.delete-outlet-btn:hover                                {color: #bd2130;}
@media screen and (max-width: 768px){
.table, .table-outlet                                   {width: 100%;
                                                        margin-left: 0;}}
option                                                  {text-align: justify;
                                                        font-size: 100%;
                                                        font-family: tahoma;}
select                                                  {text-align: justify;
                                                        font-size: 18px;
                                                        font-family: tahoma;
                                                        border: none;
                                                        border-radius: 5px;}er
.form__buttons                                          {text-align: center;
                                                        margin: 0 auto;
                                                        padding: 0% 0%;  }
.popup                                                  {position: fixed;
                                                        top: 50px; 
                                                        margin-left: 1;
                                                        text-align: center;
                                                        display: none;
                                                        background: #283791;;
                                                        color: white;
                                                        padding: 1px;}
.popup p                                                {padding: 10px;}
#eye-icon                                               {font-size: 16px;} 
.logoutpopup                                            {display: none;
                                                        position: fixed;
                                                        top: 48%;
                                                        left: 50%;
                                                        transform: translate(-50%, -50%);
                                                        background: white;
                                                        border: 1% solid #ccc;
                                                        padding: 2% 5%;
                                                        box-shadow: 0 0 10px #283791;
                                                        z-index: 3;}
.logoutpopup button                                     {background-color: #283791;
                                                        margin-top: 10%;
                                                        color: #fff;
                                                        width: 39%;
                                                        padding: 5% 15%;
                                                        border: none;
                                                        border-radius: 25px;
                                                        font-size: 120%;
                                                        cursor: pointer;
                                                        position: relative;}
.info-icon                                              {color: gray;
                                                        cursor: pointer;
                                                        margin-left: 5px;}
.password-guidelines                                    {display: none;
                                                        font-size: 14px;
                                                        color: gray;
                                                        margin-top: 5px;} 
.form-control                                           {width: 100%; 
                                                        line-height: 2.5;
                                                        border: none;
                                                        border-bottom: 2px solid #67696b;
                                                        background-color: transparent;
                                                        position: relative;
                                                        z-index: 1;
                                                        margin: 0; }
.password-input-container                               {position: relative;
                                                        width: 30%;}
.email-input-container                                  {position: relative;
                                                        width: 30%;}
.password-toggle                                        {position: absolute;
                                                        right: 0; 
                                                        top: 50%; 
                                                        transform: translateY(-50%);
                                                        cursor: pointer;
                                                        z-index: 2;
                                                        margin-right: 2%;}
.password-input-container i                             {color: #867e7e;}
#confirmLogout                                          {margin-left: 0%;
                                                        margin-right: 10%;}
#cancelLogout                                           {margin-left: 10%;
                                                        margin-right: 0%;}
.modal                                                  {display: none;
                                                        position: fixed;
                                                        z-index: 9999;
                                                        padding-top: 50px;
                                                        left: 0;
                                                        top: 0;
                                                        width: 100%;
                                                        height: 100%;
                                                        overflow: auto;
                                                        background-color: rgba(0, 0, 0, 0.9);}
.modal-content                                          {background-color: #fefefe;
                                                        padding: 20px;
                                                        border-radius: 5px;
                                                        max-width: 600px;
                                                        margin-top: 12%;
                                                        margin-left: 35%;}
.close-modal                                            {position: absolute;
                                                        top: 10px;
                                                        right: 25px;
                                                        font-size: 30px;
                                                        color: white;
                                                        cursor: pointer;}
#modalImage                                             {display: block;
                                                        margin: 0 auto;
                                                        max-width: 90%;
                                                        max-height: 90%;}
#jsonContent                                            {white-space: pre-wrap;
                                                        max-height: 300px;
                                                        overflow-y: auto;
                                                        font-family: 'Courier New', Courier, monospace;
                                                        font-size: 20px;
                                                        line-height: 1.5;
                                                        color: #333;
                                                        text-align: center;
                                                        display: flex;
                                                        justify-content: center;
                                                        align-items: center;
                                                        height: 100vh;}
 button.buttonJSON                                      {background-color: #FCCB06;
                                                        color: #fff;
                                                        width: 4.9cm; 
                                                        height: 1cm;
                                                        border-radius: 25px;
                                                        font-size: 100%;
                                                        font-weight: bold;
                                                        cursor: pointer;
                                                        text-align: center;
                                                        display: flex;
                                                        justify-content: center;
                                                        align-items: center;
                                                        margin-left: 15%;
                                                        margin-right: 8%;
                                                        margin-top: 4%;
                                                        margin-bottom: 4%;}                                                     
.manage-container                                       {display: flex;
                                                        flex-wrap: wrap;
                                                        z-index: 555;
                                                        color: #000000;
                                                        justify-content: space-between;
                                                        padding: 3% 6%;
                                                        transition: margin-left 0.3s;
                                                        align-items: center;
                                                        height: 100vh;}
.manage-container-outlet                                {display: flex;
                                                        flex-direction: column;
                                                        color: #000000;
                                                        transition: margin-left 0.3s;
                                                        align-items: center;
                                                        margin-left: 7%;
                                                        width: 80%;}
.outlet-container                                       {width: 100%;
                                                        position:flex;
                                                        background-color: #FCCB06;
                                                        margin-top: -7%;
                                                        margin-bottom: -4%;
                                                        border-radius: 10px;
                                                        padding-top: 2%;
                                                        margin-left: 7%;
                                                        padding-bottom: 2%;
                                                        align-items: center;}
.product-container                                      {width: 100%;
                                                        background-color: #FCCB06;
                                                        flex: 1;
                                                        padding: 2% 1%;
                                                        border-radius: 10px;
                                                        margin-left: 3%;
                                                        margin-top: 3%;
                                                        margin-right: 1%;
                                                        padding-bottom: -10%;
                                                        align-items: center;}
.brand-container                                        {width: 100%;
                                                        background-color: #FCCB06;
                                                        flex: 1;
                                                        padding: 2% 1%;
                                                        border-radius: 10px;
                                                        margin-left: 9%;
                                                        margin-top: 3%;
                                                        margin-right: 0%;
                                                        padding-bottom: -10%;
                                                        align-items: center;}
.input-control                                          {border: 1px solid #ccc;
                                                        background-color: #fff;
                                                        padding: 10px;
                                                        margin: 5px;
                                                        width: 100%; 
                                                        box-sizing: border-box;
                                                        position: relative;
                                                        text-align: center;}
.input-control-outlet                                   {border: 1px solid #ccc;
                                                        display: flex;
                                                        background-color: rgb(255, 242, 185);
                                                        align-items: center;
                                                        padding: 1.3%;
                                                        margin: 5px;
                                                        width: 40%; 
                                                        box-sizing: border-box;
                                                        position: inherit;
                                                        text-align: center;}
.input-control-product                                  {border: 1px solid #ccc;
                                                        display: flex;
                                                        background-color: rgb(255, 242, 185);
                                                        align-items: center;
                                                        padding: 3% 1.3%;
                                                        width: 90%; 
                                                        box-sizing: border-box;
                                                        position: inherit;
                                                        text-align: center;}
.input-control-brand                                    {border: 1px solid #ccc;
                                                        display: flex;
                                                        background-color: rgb(255, 242, 185);
                                                        align-items: center;
                                                        padding: 3% 1.3%;
                                                        margin-top: 0.7%;
                                                        width: 90%; 
                                                        box-sizing: border-box;
                                                        position: inherit;
                                                        text-align: center;}
.input-container-outlet                                 {display: flex;
                                                        text-align: center;
                                                        margin-left: 1%;
                                                        box-sizing: border-box;
                                                        padding: 1% 2%;
                                                        margin-top: 5px;
                                                        width: 100%;
                                                        position: inherit;
                                                        align-items: center;}
.input-container                                        {display: flex;
                                                        position: relative;
                                                        flex-direction: column;
                                                        align-items:center;}
.section-title                                          {font-size: 1.5em; 
                                                        font-weight:800;
                                                        font-family: 'OpenSans', sans-serif;
                                                        margin-bottom: 1%; 
                                                        text-align: center;}
.image-link                                             {cursor: pointer;
                                                        color: blue;
                                                        text-decoration: underline;}                                                        
.image-link:hover                                       {color: red;}
.image-link.green:hover                                 {color: green;}
.sidenav a.active                                       {background-color: #FCCB06; 
                                                        color: #0056b3;}
.processpopup                                           {display: none;
                                                        position: fixed;
                                                        top: 50%;
                                                        left: 50%;
                                                        transform: translate(-50%, -50%);
                                                        background-color: white;
                                                        width: 20%;
                                                        padding: 2% 2%;
                                                        border: 1px solid #ccc;
                                                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                                                        z-index: 1000;
                                                        text-align: center;}
#confirmProcess                                         {margin: 2%;
                                                        padding: 4% 11%;
                                                        width: 20%;
                                                        border: none;
                                                        background-color: #283791;
                                                        color: white;
                                                        cursor: pointer;
                                                        width: fit-content;
                                                        font-size: 16px;}
#cancelProcess                                          {margin-left: 5%;
                                                        padding: 3.8% 16.5%;
                                                        width: 30%;
                                                        border: none;
                                                        background-color: #283791;
                                                        color: white;
                                                        cursor: pointer;
                                                        width: fit-content;
                                                        font-size: 16px;}
.button-container-outlet                                {margin-left: 1%;
                                                        display: flex;
                                                        position: inherit;
                                                        width: 17%;}
.modal-outlet                                           {display: none;
                                                        position: fixed;
                                                        height: 18%;
                                                        width: 20%;
                                                        top: 48%;
                                                        left: 50%;
                                                        transform: translate(-50%, -50%);
                                                        background: white;
                                                        border: 1% solid #ccc;
                                                        padding: 1% 2%;
                                                        box-shadow: 0 0 10px #283791;
                                                        z-index: 3;}
.modal-outlet-content button                            {height: 30%;
                                                        margin-top: 7%;
                                                        margin-left: 4%;
                                                        margin-right: 5%;
                                                        width: 40%}
.delete-outlet-btn                                      {width: 50%;
                                                        position: inherit;}
.outlet-container-table                                 {width: 99.8%;
                                                        margin-right: 9.4%;
                                                        margin-top: 15%;}
.gif-database, .gif-reject                              {padding: 10% 0%;
                                                        width: 20%;
                                                        margin-left: 43%;
                                                        pointer-events: none;
                                                        position: relative;}
.gif-img                                                {padding: 15% 0%;
                                                        width: 15%;
                                                        margin-left: 15%;
                                                        position: relative;}
.gif-img2                                               {padding: 15% 0%;
                                                        width: 15%;
                                                        margin-left: 45%;
                                                        position: relative;}
.loading-popup                                          {display: none;
                                                        position: fixed;
                                                        top: 0;
                                                        left: 0;
                                                        width: 100%;
                                                        height: 100%;
                                                        background-color: rgba(54, 49, 49, 0.5); 
                                                        z-index: 9999;}
.fa-gear:hover                                          {animation: spin 2s infinite linear;}
@keyframes spin                                         {from {
                                                            transform: rotate(0deg);
                                                        }
                                                        to {
                                                            transform: rotate(360deg);
                                                        }}
.fa-bar-chart:hover                                     {animation: beat 0.5s infinite linear;}                                              
@keyframes beat                                         {from {
                                                            transform: scale(1);
                                                        }
                                                        to {
                                                            transform: scale(1.2);
                                                        }}
.fa-square-check:hover                                  {animation: beat 0.5s infinite linear;}
@keyframes beat                                         {from {
                                                            transform: scale(1);
                                                        }
                                                        to {
                                                            transform: scale(1.2);
                                                        }}
.fa-ban:hover                                           {animation: beat 0.5s infinite linear;}
@keyframes beat                                         {from {
                                                            transform: scale(1);
                                                        }
                                                        to {
                                                            transform: scale(1.2);
                                                        }}
.fa-shopping-cart:hover                                 {animation: beat 0.5s infinite linear;}
@keyframes beat                                         {from {
                                                            transform: scale(1);
                                                        }
                                                        to {
                                                            transform: scale(1.2);
                                                        }}
.fa-store:hover                                         {animation: beat 0.5s infinite linear;}
@keyframes beat                                         {from {
                                                            transform: scale(1);
                                                        }
                                                        to {
                                                            transform: scale(1.2);
                                                        }}
.fa-sign-out:hover                                      {animation: beat 0.5s infinite linear;}
@keyframes beat                                         {from {
                                                            transform: scale(1);
                                                        }
                                                        to {
                                                            transform: scale(1.2);
                                                        }}
.user-info-outlet                                       {font-family: 'Roboto', sans-serif;
                                                        background-color: #283791;
                                                        width: 100%;
                                                        padding: 3% 5% 3.0% 0%;
                                                        display: flex;
                                                        align-items: center;}
.user-info-result                                       {font-family: 'Roboto', sans-serif;
                                                        background-color: #283791;
                                                        width: 100%;
                                                        padding: 3% 5% 3.0% 0%;
                                                        display: flex;
                                                        align-items: center;}
.fa-user-circle                                         {color: #283791;
                                                        display: flex;
                                                        flex-direction: column; 
                                                        align-items: center;}
.user-label                                             {font-family: 'OpenSans', sans-serif;
                                                        font-size: large;
                                                        font-weight: bold;
                                                        color: #283791; 
                                                        margin-top: 0%;}
.fa-exclamation-circle                                  {color: rgb(161, 159, 159);}
.custom-popup                                           {position: absolute;
                                                        background-color: #fff;
                                                        border: 1px solid #ccc;
                                                        padding: 10px;
                                                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                                                        margin-left: 16.5%;}
                                                        .filter-container {
                                                            display: flex;
                                                            justify-content: flex-end;
                                                            align-items: center;
                                                            margin-top: 20px;
                                                            margin-right: 25px;
                                                        }
                                                    
                                                        label, select, input {
                                                            margin-right: 10px; /* Adjust the margin as needed */
                                                            padding: 8px; /* Adjust the padding as needed */
                                                            border: 1px solid #ccc;
                                                            border-radius: 4px;
                                                        }
                                                    
                                                        button {
                                                            padding: 10px 0px; /* Adjust the padding as needed */
                                                            font-size: 16px; /* Adjust the font size as needed */
                                                            background-color: #283791;
                                                            color: white;
                                                            width: 120px;
                                                            border: none;
                                                            border-radius: 40px;
                                                            cursor: pointer;
                                                        }
                                                    
                                                        button:hover {
                                                            background-color: #2667ff;
                                                        }