@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Inclusive+Sans&family=Roboto:wght@500&display=swap');

*, *::after                                             {box-sizing: border-box;}
body                                                    {font: 'Muli', sans-serif;
                                                        background-size: cover;
                                                        background-repeat: no-repeat;
                                                        background-position: center center;
                                                        background-attachment: fixed;}
h1                                                      { text-align: center;
                                                        font-size: 2.9rem;}
h2                                                      {text-decoration: none;
                                                        font-size: 50px;
                                                        margin: 0px;}
h3                                                      {text-align: center;
                                                        text-decoration: none;}
h4                                                      {text-align: center;
                                                        text-decoration: none;
                                                        text-align: right;
                                                        color: white;}
h1, .h1, h2, .h2, h3, .h3, h4, .h4                      {margin-top: 0;
                                                        margin-bottom: 0;}
p                                                       {font: candara;
                                                        text-align: center;}
button                                                  {background-color: #0056b3;
                                                        color: #fff;
                                                        width: 14%;
                                                        padding: 5px 20px;
                                                        border: none;
                                                        border-radius: 5px;
                                                        font-size: 1.5rem;
                                                        cursor: pointer;
                                                        position: relative;}
button:hover                                            {background-color: #0056b3;}
.sidenav                                                {height: 100%;
                                                        width: 80px; 
                                                        position: fixed;
                                                        top: 0;
                                                        left: 0;
                                                        margin-top: 7.2%;
                                                        background-color: #283791;
                                                        z-index: 1;
                                                        transition: width 0.3s;
                                                        overflow-y: auto;
                                                        align-items: center;}
.sidenav.expanded                                       {width: 210px;} 
.sidenav a                                              {padding: 16px;
                                                        color: white;
                                                        text-decoration: none;
                                                        text-align: center;
                                                        display: flex;
                                                        align-items: center;
                                                        transition: background-color 0.3s, color 0.3s;}
.sidenav a i                                            {font-size: 30px; 
                                                        margin-right: 10px;}
.sidenav-label                                          {display: none;}
.sidenav.expanded .sidenav-label                        {display: inline-block;
                                                        padding-left: 10px;}
.content                                                {flex: 1;
                                                        width: fit-content;
                                                        margin-left: 60px;
                                                        transition: margin-left 0.3s;
                                                        height: 800px;
                                                        padding: 15px;}
.sidenav.expanded + .content                            {margin-left: 200px;}
.header                                                 {position: fixed;
                                                        width: 100%;
                                                        height: 15%;
                                                        top: 0;
                                                        left: 0;
                                                        background: #fff;
                                                        display: flex;
                                                        align-items: center;
                                                        justify-content: space-between;
                                                        padding: 0 20px;
                                                        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);}
.header h2                                              {margin: 0;
                                                        margin-right: 76%;
                                                        font-size: 30px;
                                                        font-weight: bold;
                                                        color: #333;}
.header img                                             {height: 80px;
                                                        margin-right: 10px;}
.container                                              {margin-top: 130px;
                                                        margin-left: 8px;
                                                        position: relative;
                                                        width: 100;
                                                        display: flex;}
.container2                                             {margin-top: -15px;
                                                        margin-left: 8px;
                                                        position: relative;
                                                        width: 100;
                                                        display: flex;}
.table-container2                                       {margin-top: 10%;
                                                        transition: margin-left 0.3s;}
.container3                                             {margin-top: -10px;
                                                        margin-left: 8px;
                                                        position: relative;
                                                        width: 100;
                                                        display: flex;}
.table-container3                                       {margin-top: 10%;
                                                        transition: margin-left 0.3s;}
.icon-container2 i                                      {font-size: 40px;
                                                        color: #ffffff;}
.table-container                                        {margin-top: 10%;}
.reg-control                                            {border: 1px solid #ccc;
                                                        background-color: #d0efff;
                                                        border-radius: 15px; 
                                                        padding: 10px;
                                                        margin: 5px;
                                                        width:30%;
                                                        box-sizing: border-box;
                                                        position: relative;
                                                        text-align: center;}
.reg-container                                          {display: flex;
                                                        flex-direction: column;
                                                        align-items: center;}
.password-container                                     {width: 99.85%;
                                                        align-items: center;
                                                        margin-left: 69.4%;}
.overlay                                                {position: fixed;   
                                                        top: 0;
                                                        left: 0;
                                                        width: 100%;
                                                        height: 100%;
                                                        background: rgba(0, 0, 0, 0.5); 
                                                        z-index: 999;}
.popup                                                  {position: fixed;
                                                        top: 50%;
                                                        left: 50%;
                                                        transform: translate(-50%, -50%);
                                                        background: #fff;
                                                        padding: 20px;
                                                        border: 1px solid #ccc;
                                                        border-radius: 15px;
                                                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                                                        z-index: 1000;}
.popup a                                                {display: inline-block;
                                                        padding: 10px 20px;
                                                        background: #007BFF;
                                                        color: #fff;
                                                        text-decoration: none;
                                                        border-radius: 20px;
                                                        transition: background 0.3s ease;}
.popup a:hover                                          {background: #0056b3;}
.sidenav a:hover                                         {background-color: #fff;
                                                        color: black;}
.sidenav a:hover i                                      {color: black;}          
.table                                                  {vertical-align: middle;
                                                        text-align: center;
                                                        margin-left: 150px;}
.table > :not(caption) > * > *                          {padding: 0.5rem 0.5rem;
                                                        box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);}              
th                                                      {background-color: #e5e9ec81;
                                                        text-align: inherit;
                                                        height: 50px;
                                                        font-size: 1.5rem;}
tr:nth-child(even)                                      {background-color: #e5e9ec81;}
tr:nth-child(odd)                                       {background-color: white;}
option                                                  {text-align: justify;
                                                        font-size: 100%;
                                                        font-family: tahoma;}
select                                                  {text-align: justify;
                                                        font-size: 18px;
                                                        font-family: tahoma;
                                                        border: none;
                                                        border-radius: 5px;}
.form__buttons                                          {text-align: center;
                                                        margin: 0 auto;
                                                        padding: 10px 0 0;  }
.popup                                                  {position: fixed;
                                                        top: 50px; 
                                                        margin-left: 1;
                                                        text-align: center;
                                                        display: none;
                                                        background: #0056b3;;
                                                        color: white;
                                                        padding: 1px;}
.popup p                                                {padding: 10px;}
#eye-icon                                               {font-size: 16px;} 
.logoutpopup {                                          display: none;
                                                        position: fixed;
                                                        top: 50%;
                                                        left: 50%;
                                                        transform: translate(-50%, -50%);
                                                        background: white;
                                                        border: 1px solid #ccc;
                                                        padding: 20px;
                                                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                                                        z-index: 9999;
                                                        text-align: center;}
.logoutpopup button                                     {margin: 10px;
                                                        width: 80px;}
.info-icon                                              {color: gray;
                                                        cursor: pointer;
                                                        margin-left: 5px;}
.password-guidelines                                    {display: none;
                                                        font-size: 14px;
                                                        color: gray;
                                                        margin-top: 5px;} 
.form-control                                           {width: 100%; 
                                                        line-height: 2.5;
                                                        border: none;
                                                        border-bottom: 2px solid #67696b;
                                                        background-color: transparent;
                                                        position: relative;
                                                        z-index: 1;
                                                        margin: 0; }
.password-input-container                               {position: relative;
                                                        width: 30%;}
.email-input-container                                  {position: relative;
                                                        width: 30%;}
.password-toggle                                        {position: absolute;
                                                        right: 0; 
                                                        top: 50%; 
                                                        transform: translateY(-50%);
                                                        cursor: pointer;
                                                        z-index: 2;}
.eye-icon                                               {font-size: 18px; 
                                                        color: #67696b; 
                                                        margin: 0;}
#confirmLogout, #cancelLogout                           {font-size: 17px;}
.modal                                                  {display: none;
                                                        position: fixed;
                                                        z-index: 1;
                                                        padding-top: 50px;
                                                        left: 0;
                                                        top: 0;
                                                        width: 100%;
                                                        height: 100%;
                                                        overflow: auto;
                                                        background-color: rgba(0, 0, 0, 0.9);}
.close-modal                                            {position: absolute;
                                                        top: 10px;
                                                        right: 25px;
                                                        font-size: 30px;
                                                        color: white;
                                                        cursor: pointer;}
#modalImage                                             {display: block;
                                                        margin: 0 auto;
                                                        max-width: 90%;
                                                        max-height: 90%;}
.image-link                                             {cursor: pointer;
                                                        color: blue;
                                                        text-decoration: underline;}
.image-link:hover                                       {color: green;}
.manage-container {
    display: flex;
}

.manage-container {
    display: flex;
    align-items: center; /* Center items vertically */
    height: 100vh; /* To ensure it occupies the full viewport height */
}

.outlet-container,
.brand-container,
.product-container {
    width: 100%; /* Adjust width as needed */
    background-color: #f0f0f0; /* Example background color */
    padding: 10px; /* Example padding */
    border-radius: 10px;
    margin-left: 8%;
}

.input-control {
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    width: 100%; /* Adjust width as needed */
    box-sizing: border-box;
    position: relative;
    text-align: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-title {
    font-size: 1.5em; /* Adjust font size */
    font-weight: bold;
    margin-bottom: 5%; /* Adjust margin as needed */
    /* Other styling properties */
    text-align: center;
}
.image-link                                             {cursor: pointer;
    color: blue;
    text-decoration: underline;}                                                        
.image-link:hover                                       {color: red;}
.image-link.green:hover                                 {color: green;}