/* Reset default styles */
@charset "ISO-8859-1";
/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Inclusive+Sans&family=Roboto:wght@500&display=swap');

/* Global styles */
*, *::after                                             {box-sizing: border-box;}
body                                                    {font: 'Muli', sans-serif;
                                                        background-size: cover;
                                                        background-repeat: no-repeat;
                                                        background-position: center center;
                                                        background-attachment: fixed;}
h1                                                      { text-align: center;
                                                        font-size: 2.9rem;}
h2                                                      {text-decoration: none;
                                                        font-size: 50px;
                                                        margin: 0px;}
h3                                                      {text-align: center;
                                                        text-decoration: none;}
h4                                                      {text-align: center;
                                                        text-decoration: none;
                                                        text-align: right;
                                                        color: white;}
h1, .h1, h2, .h2, h3, .h3, h4, .h4                      {margin-top: 0;
                                                        margin-bottom: 0;}
p                                                       {font: candara;
                                                        text-align: center;}
.form-control                                           {width: 30%;
                                                        line-height: 2.5;
                                                        border: none;
                                                        border-bottom: 2px solid #67696b;
                                                        background-color: transparent;
                                                        position: relative;
                                                        z-index: 1;}
button                                                  {background-color: #0056b3;
                                                        color: #fff;
                                                        width: 14%;
                                                        padding: 5px 20px;
                                                        border: none;
                                                        border-radius: 5px;
                                                        font-size: 1.5rem;
                                                        cursor: pointer;
                                                        position: relative;}
button:hover                                            {background-color: #0056b3;}
.sidenav                                                {height: 100%;
                                                        width: 80px; /* Collapsed width */
                                                        position: fixed;
                                                        top: 0;
                                                        left: 0;
                                                        margin-top: 7.0%;
                                                        background-color: #283791;
                                                        z-index: 1;
                                                        transition: width 0.3s;
                                                        overflow-y: auto;}
.sidenav.expanded                                       {width: 160px;} /* Expanded width */
.sidenav a                                              {padding: 16px;
                                                        color: white;
                                                        text-decoration: none;
                                                        text-align: center;
                                                        display: flex;
                                                        align-items: center;
                                                        transition: background-color 0.3s, color 0.3s;}
.sidenav a i                                            {font-size: 30px; /* Adjust the icon size as needed */
                                                        margin-right: 10px;}
.sidenav-label                                          {display: none;}
.sidenav.expanded .sidenav-label                        {display: inline-block;
                                                        padding-left: 10px; }/* Space between icon and label */
.sidenav-toggle                                         {cursor: pointer;
                                                        display: contents;
                                                        align-items: center;
                                                        justify-content: center;
                                                        background-color: #283791;
                                                        color: white;}
.content                                                {margin-left: 60px; /* Width of the collapsed side nav */
                                                        transition: margin-left 0.3s;
                                                        padding: 15px;}
.sidenav.expanded + .content                            {margin-left: 200px;} /* Width of the expanded side nav */
.header                                                 {position: fixed;
                                                        width: 100%;
                                                        height: 15%;
                                                        top: 0;
                                                        left: 0;
                                                        background: #fff;
                                                        display: flex;
                                                        align-items: center;
                                                        justify-content: space-between;
                                                        padding: 0 20px;
                                                        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);}
.header h2                                              {margin: 0;
                                                        margin-right: 76%;
                                                        font-size: 30px;
                                                        font-weight: bold;
                                                        color: #333;}
.header img                                             {height: 80px;
                                                        margin-right: 10px;}
.container                                              {position: relative;
                                                        width: 100;
                                                        display: flex;}
.icon-container i                                       {font-size: 40px;
                                                        color: #ffffff;}
.table-container                                        {margin-top: 10%;}
.reg-control                                            {border: 1px solid #ccc;
    background-color: #d0efff;
    border-radius: 15px; 
    padding: 10px;
    margin: 5px;
    width:30%;
    box-sizing: border-box;
    position: relative;
    text-align: center;}
.reg-container                                          {display: flex;
                                                        flex-direction: column;
                                                        align-items: center;}
.overlay                                                {position: fixed;
                                                        top: 0;
                                                        left: 0;
                                                        width: 100%;
                                                        height: 100%;
                                                        background: rgba(0, 0, 0, 0.5); 
                                                        z-index: 999;}
.popup                                                  {position: fixed;
                                                        top: 50%;
                                                        left: 50%;
                                                        transform: translate(-50%, -50%);
                                                        background: #fff;
                                                        padding: 20px;
                                                        border: 1px solid #ccc;
                                                        border-radius: 15px;
                                                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                                                        z-index: 1000;}
.popup a                                                {display: inline-block;
                                                        padding: 10px 20px;
                                                        background: #007BFF;
                                                        color: #fff;
                                                        text-decoration: none;
                                                        border-radius: 20px;
                                                        transition: background 0.3s ease;}
.popup a:hover                                          {background: #0056b3;}
.sidenav a:hover                                         {background-color: #fff;
                                                        color: black;}
.sidenav a:hover i                                      {color: black;}          
.table                                                  {vertical-align: middle;
                                                        text-align: center;
                                                        margin-left: 150px;}
.table > :not(caption) > * > *                          {padding: 0.5rem 0.5rem;
                                                        box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);}              
th                                                      {background-color: #e5e9ec81;
                                                        text-align: inherit;
                                                        height: 50px;
                                                        font-size: 1.5rem;}
tr:nth-child(even)                                      {background-color: #e5e9ec81;}
tr:nth-child(odd)                                       {background-color: white;}
option                                                  {text-align: justify;
                                                        font-size: 100%;
                                                        font-family: tahoma;}
select                                                  {text-align: justify;
                                                        font-size: 18px;
                                                        font-family: tahoma;
                                                        border: none;
                                                        border-radius: 5px;}
.form__buttons                                          {text-align: center;
                                                        margin: 0 auto;
                                                        padding: 10px 0 0;  }

                                                        .popup {
                                                            position: fixed;
                                                            top: 50px; /* Adjust this value to control the vertical position */
                                                            margin-left: 1;
                                                            text-align: center;
                                                            display: none;
                                                            background: #0056b3;;
                                                            color: white;
                                                            padding: 1px;
                                                            
                                                        }
                                                    
                                                        .popup p {
                                                            padding: 10px;
                                                        }